.map{
    position: relative;
    padding: 90px 0;

    @include media-queries(tablet){
        background: #071D49;
        padding: 0;
    }

    #map{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;

        @include media-queries(tablet){
            position: static;
            height: 400px;
        }

        @include media-queries(phone-wide){
            height: 345px;
        }
    }

    &-info{
        position: relative;
        background: #071D49;
        border-radius: 6px;
        max-width: 532px;
        margin-left: auto;
        padding: 70px 60px;

        @include media-queries(tablet){
            margin: 0;
            max-width: 100%;
            padding: 40px 0;
        }

        &-list{

            li{
                display: flex;
                margin-bottom: 40px;

                &:last-child{
                    margin: 0;
                }
            }
        }

        &-ico{
            width: 52px;
            min-width: 52px;
            height: 52px;
            border: 2px solid #FFCF00;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 27px;
        }

        &-title{
            font-size: 16px;
            line-height: 25px;
            color: #B0B0B0;
            margin-bottom: 5px;

            @include media-queries(phone-wide){
                font-size: 14px;
                line-height: 25px;
            }
        }

        &-content{
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            color: #FFFFFF;

            @include media-queries(phone-wide){
                font-size: 16px;
                line-height: 30px;
            }   
        }
    }
}