.article-card{
    background: #FFFFFF;
    border: 1px solid rgba(224, 224, 224, 0.6);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &--photo{
        height: 234px;
        background: #C4C4C4;
        display: block;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &--title{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #18191F;
        padding: 20px 10px;
        display: block;

        @include media-queries(phone-wide){
            font-size: 14px;
            line-height: 24px;
        }
    }

    &--info{
        padding: 20px 15px;
        border-top: 1px solid rgba(224, 224, 224, 0.6);
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans';
        font-size: 10px;
        line-height: 10px;
        color: #828282;
        margin-top: auto;

        @include media-queries(phone-wide){
            flex-direction: row;
        }

        span{

            &:nth-child(2){
                margin-top: 11px;   

                @include media-queries(phone-wide){
                    margin-top: 0;  
                    margin-left: 24px;
                }
            }
        }
    }
}