/**
 * Hero
 */
.about-hero{
    padding: 120px 0px 160px;
    background: #E4F2F8 url(../img/about/hero/bg-pc.png) no-repeat center top / auto;
    
    @include media-queries(phone-wide){
        background: url(../img/about/hero/bg-phone-1.png) no-repeat left top,
                    url(../img/about/hero/bg-phone-2.png) no-repeat center top,
                    url(../img/about/hero/bg-phone-3.png) no-repeat right top;
        background-color: #E4F2F8 
    }

    @include media-queries(phone-wide){
        padding: 190px 0px 140px;
    }

    img{
        display: block;
        margin: 0 auto 15px;

        @include media-queries(phone-wide){
            width: 240px;
        }
    }

    &--blockquote{
        padding: 56px 130px 40px;
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        font-size: 22px;
        line-height: 42px;
        color: #071D49;
        text-align: center;
        max-width: 976px;
        margin: 0 auto;
        position: relative;

        @include media-queries(phone-wide){
            padding: 18px 25px 13px;
            font-size: 18px;
            line-height: 30px;
        }

        &:before,
        &:after{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            display: block;
            content: '';
            background: url(../img/about/hero/quote.svg) no-repeat top left / auto;

            @include media-queries(phone-wide){
                background-size: 104px auto;   
            }
        }

        &:after{
            transform: rotate(-180deg);
        }
    }
}

/**
 * Why
 */
.about-why{
    padding: 80px 0;

    @include media-queries(phone-wide){
        padding: 30px 0px 62px;
    }

    .typ-title{
        text-align: center;
        margin-bottom: 108px;

        @include media-queries(phone-wide){
            margin-bottom: 30px;
        }
    }

    &-list{
        display: grid;
        grid-template-columns: 608px 608px;
        justify-content: space-between;
        gap: 75px 0;

        @include media-queries(laptop){
            grid-template-columns: 1fr 1fr;
            gap: 75px 50px;
        }

        @include media-queries(tablet){
            grid-template-columns: 1fr;
        }

        @include media-queries(phone-wide){
            gap: 30px 0;
        }

        li{
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;

            @include media-queries(phone-wide){
                font-size: 16px;
                line-height: 24px;
            }
        }

        &--ico{
            width: 98px;
            min-width: 98px;
            height: 98px;
            border-radius: 50%;
            background: $secondary;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 65px;
            position: relative;

            @include media-queries(phone-wide){
                margin-right: 25px;
                width: 65px;
                height: 65px;
                min-width: 65px;
            }

            &:before{
                display: block;
                content: '';
                width: 120px;
                height: 120px;
                position: absolute;
                transform: rotate(-110deg);
                background: linear-gradient(#0000 50%, rgba(#FFC400, 0.5) 1%);
                border-radius: 50%;

                @include media-queries(phone-wide){
                    width: 85px;
                    height: 85px;
                }
            }

            img{
                max-width: 47px;
                max-height: 47px;
                position: relative;

                @include media-queries(phone-wide){
                    max-width: 32px;
                    max-height: 32px;
                }
            }
        }
    }
}

/**
 * Products 
 */
.about-products{
    background: #E4F2F8;
    padding: 110px 0 25px;
    overflow: hidden;

    @include media-queries(phone-wide){
        padding: 45px 0px 105px;
    }

    &-title{
        font-weight: 800;
        font-size: 64px;
        line-height: 45px;
        color: #18191F;
        text-align: center;
        margin-bottom: 67px;

        @include media-queries(phone-wide){
            font-size: 30px;
            line-height: 24px;
            margin-bottom: 70px;
        }

        span{
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;

            @include media-queries(phone-wide){
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    &-items{
        max-width: 1418px;
        margin: 0 auto;

        @include media-queries(tablet){
            padding: 0px 20px;
        }
    }

    &-card{
        width: 300px;
        height: 372px;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #18191F;
        background: #FFFFFF;
        border-radius: 40px;
        box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.25),
                    0px 4px 40px rgba(7, 29, 73, 0.25);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-queries(tablet){
            margin-bottom: 60px;
        }

        @include media-queries(phone-wide){
            font-size: 18px;
            line-height: 26px;
            width: 239px;
            height: 296px;
            margin-bottom: 182px;
        }

        &:last-child{
            margin-bottom: 0;
        }

        &:nth-child(even){
            
            @include media-queries(tablet){
                margin-left: auto;
            }
        }

        &:nth-child(2){

            @include media-queries(tablet, min){
                margin-left: auto;   
                margin-top: -239px;
            }
        }

        &:nth-child(3){

            @include media-queries(tablet, min){
                margin-top: 145px;
                margin-left: 33%;
            }
        }

        &:nth-child(4){
            @include media-queries(tablet, min){
                margin-top: 25px;
                margin-left: auto;
            }
        }

        &:nth-child(5){

            @include media-queries(tablet, min){
                margin-left: 5%;
                margin-top: -150px;
            }
        }

        &:nth-child(6){

            @include media-queries(tablet, min){
                margin-left: 50%;
                margin-top: 130px;
            }
        }

        &:nth-child(7){

            @include media-queries(tablet, min){
                margin-left: auto;
                margin-top: 323px;
            }
        }

        &:nth-child(8){

            @include media-queries(tablet, min){
                margin-left: 8%;
                margin-top: -270px;
            }
        }

        &:nth-child(9){

            @include media-queries(tablet, min){
                margin-left: 58%;
                margin-top: 205px;
            }
        }

        &:nth-child(10){

            @include media-queries(tablet, min){
                margin-left: 10%;
                margin-top: 90px;
            }
        }

        &:nth-child(11){

            @include media-queries(tablet, min){
                margin-left: auto;
                margin-top: -160px;
            }
        }

        img{
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include media-queries(phone-wide){
                transform: translate(-50%, -50%) scale(0.8);
            }
        }
    }
}

/**
 * Clients
 */
.about-clients{
    background: #F4F4F4;
    padding: 65px 0;

    @include media-queries(phone-wide){
        padding: 30px 0px 65px;
    }

    .typ-title{
        text-align: center;
    }

    &-card{
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-queries(tablet){
            display: block;
        }

        @include media-queries(phone-wide){
            margin-top: 20px;
        }

        &:nth-child(even){
            flex-direction: row-reverse;   
        }

        &--info{
            max-width: 613px;

            @include media-queries(laptop){
                max-width: 500px;
            }

            @include media-queries(tablet-wide){
                max-width: 450px;
            }

            @include media-queries(tablet){
                max-width: 100%;
            }
        }

        &--title{
            font-weight: bold;
            font-size: 42px;
            line-height: 52px;
            letter-spacing: -0.4px;
            margin-bottom: 82px;

            @include media-queries(phone-wide){
                font-size: 19px;
                line-height: 24px;
                margin-bottom: 20px;
            }
        }

        &--about{
            font-weight: 500;
            font-size: 22px;
            line-height: 32px;
            color: #828282;

            @include media-queries(phone-wide){
                font-size: 14px;
                line-height: 22px;
            }
        }

        img{
            display: block;

            @include media-queries(laptop){
                height: 500px;
            }

            @include media-queries(tablet-wide){
                height: 400px;
            }

            @include media-queries(tablet){
                margin-top: 20px;
                margin-left: auto;
            }

            @include media-queries(phone-wide){
                height: 235px;
            }
        }
    }
}

/**
 * Financial Benefits
 */
.about-financial-benefits{
    background: #FFF5D0;
    padding: 106px 0px 64px;

    @include media-queries(phone-wide){
        padding: 20px 0px 0px;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-queries(tablet){
            display: block;
        }

        img{
            display: block;

            @include media-queries(tablet-wide){
                width: 400px;
            }

            @include media-queries(tablet){
                margin: 40px auto 0;
            }

            @include media-queries(phone-wide){
                margin-top: 20px;
                max-width: 350px;
            }
        }
    }

    &-list{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #071D49;
        margin-top: 80px;
        max-width: 508px;
        counter-reset: benefits-list;

        @include media-queries(phone-wide){
            max-width: 100%;
        }

        @include media-queries(phone-wide){
            margin-top: 20px;
            font-size: 14px;
            line-height: 24px;
        }

        li{
            margin-bottom: 56px;
            display: flex;
            align-items: center;    
            position: relative;

            @include media-queries(phone-wide){
                margin-bottom: 20px;
            }

            &:last-child{
                margin: 0;

                &:after{
                    display: none;
                }
            }

            &:before{
                counter-increment: benefits-list;
                display: block;
                content: counter(benefits-list);
                width: 40px;
                height: 40px;
                min-width: 40px;
                border-radius: 50%;
                background: $secondary;
                margin-right: 40px;
                font-weight: 600;
                font-size: 24px;
                line-height: 40px;
                color: #FFFFFF;
                text-align: center;
                z-index: 10;

                @include media-queries(phone-wide){
                    width: 30px;
                    height: 30px;
                    min-width: 30px;
                    line-height: 30px;
                    font-size: 18px;
                    margin-right: 10px;
                }
            }

            &:after{
                display: block;
                content: '';
                width: 2px;
                top: 50%;
                height: calc(100% + 56px);
                left: 19px;
                background: $secondary;
                position: absolute;

                @include media-queries(phone-wide){
                    height: calc(100% + 20px);
                    left: 14px;
                }
            }
        }
    }
}