/**
 * Hero
 */
.brands-hero{
    padding: 180px 0px 260px;
    background: #9D9B96;
    position: relative;

    @include media-queries(tablet-wide){
        padding: 120px 0;   
    }

    @include media-queries(phone-wide){
        padding: 50px 0px 0px;
    }

    &-info{
        color: #FFFFFF;
        max-width: 40%;

        @include media-queries(tablet-wide){
            max-width: 65%;
        }

        @include media-queries(tablet){
            max-width: 100%;
        }
    }

    &-title{
        font-weight: 800;
        font-size: 64px;
        line-height: 80px; 
        margin-bottom: 35px;

        @include media-queries(phone-wide){
            font-size: 32px;
            line-height: 41px;
            margin-bottom: 20px;
        }
    }

    &-about{
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;

        @include media-queries(phone-wide){
            font-size: 16px;
            line-height: 26px;
        }
    }

    &-photo{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 52%;
        object-fit: cover;
        display: block;

        @include media-queries(tablet-wide){
            width: 30%;
        }

        @include media-queries(tablet){
            display: none;
        }

        @include media-queries(phone-wide){
            display: block;
            position: static;
            width: 100%;
            margin-top: 40px;
        }
    }
}

/**
 * Brands
 */
.brands{
    padding: 80px 0px 60px;
    overflow: hidden;

    @include media-queries(phone-wide){
        padding: 25px 0px 75px;
    }

    &-slider{
        padding: 30px 0px 60px;
        overflow: visible;

        @include media-queries(phone-wide){
            padding: 20px 0px 30px;
        }

        .swiper-slide{
            
            @include media-queries(tablet-wide){
                min-width: 172px;
                width: 172px;
                max-width: 172px;
            }

            @include media-queries(phone-wide){
                min-width: 108px;
                width: 108px;
                max-width: 108px;
            }
        }

        &-card{
            display: block;
        }

        &-logo{
            background: #FFFFFF;
            box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 10px;
            height: 108px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-queries(phone-wide){
                height: 68px;
                padding: 15px;
            }

            img{
                display: block;
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-name{
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: #1E85DA;

            @include media-queries(phone-wide){
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    &-nav{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;

        @include media-queries(phone-wide){
            margin-bottom: 20px;
        }

        li{
            cursor: pointer;
            font-family: 'Open Sans';
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #1E85DA;
            margin-right: 30px;
            margin-bottom: 10px;

            @include media-queries(phone-wide){
                margin-right: 15px;
            }

            &:first-child{
                border-bottom: 1px dashed #1E85DA;

                @include media-queries(phone-wide){
                    border: 0;
                }
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }

    &-item{
        display: flex;
        margin-bottom: 30px;

        &:last-child{
            margin: 0;
        }

        &-letter{
            width: 35px;
            height: 35px;
            min-width: 35px;
            border: 1px solid rgba(224, 224, 224, 0.6);
            border-radius: 50px;
            position: relative;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 33px;
            color: #FFC600;
            text-align: center;
            margin-right: 33px;

            @include media-queries(phone-wide){
                width: 25px;
                height: 25px;
                min-width: 25px;
                line-height: 23px;
                font-weight: 400;
                margin-right: 25px;
            }

            &:before{
                display: block;
                content: '';
                position: absolute;
                transform: translate(100%, -50%);
                top: 50%;
                right: 0;
                width: 18px;
                height: 1px;
                background: rgba(224, 224, 224, 0.6);

                @include media-queries(phone-wide){
                    width: 12px;
                }
            }

            &:after{
                display: block;
                content: '';
                position: absolute;
                transform: translate(100%, -50%);
                top: 50%;
                right: -18px;
                background: #1E85DA;
                opacity: 0.3;
                width: 5px;
                height: 5px;
                border-radius: 50%;

                @include media-queries(phone-wide){
                    width: 4px;
                    height: 4px;
                    right: -12px;
                }
            }
        }

        &-list{
            display: flex;
            align-self: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: -12px;

            li{
                margin-right: 30px;
                margin-top: 12px;

                @include media-queries(phone-wide){
                    margin-right: 15px;
                }

                &:last-child{
                    margin-right: 0;
                }

                a{
                    font-family: 'Open Sans';
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration-line: underline;
                    color: #1E85DA;

                    @include media-queries(phone-wide){
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}