/**
 * Hero
 */
.brand-hero{

    &-slider{

        .slider-pagination{
            margin: 20px 0;

            @include media-queries(phone-wide){
                margin: 15px 0;
            }
        }
    }

    &-slide{
        padding: 220px 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        @include media-queries(tablet-wide){
            padding: 120px 0;
        }

        @include media-queries(phone-wide){
            padding: 30px 0px 70px;
        }
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @include media-queries(tablet-wide){
            flex-direction: column-reverse;
            align-items: stretch;
        }
    }

    &-info{
        color: #FFFFFF;
        max-width: 41%;

        @include media-queries(laptop){
            max-width: 50%;
        }

        @include media-queries(tablet-wide){
            max-width: 65%;
        }

        @include media-queries(tablet){
            max-width: 100%;
        }
    }

    &-title{
        font-weight: 800;
        font-size: 64px;
        line-height: 80px; 
        margin-bottom: 35px;

        @include media-queries(phone-wide){
            font-size: 32px;
            line-height: 41px;
            margin-bottom: 20px;
        }
    }

    &-about{
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;

        @include media-queries(phone-wide){
            font-size: 16px;
            line-height: 26px;
        }
    }

    &-logo{
        display: block;
        max-width: 40%;

        @include media-queries(tablet-wide){
            margin-top: 60px;
        }

        @include media-queries(phone-wide){
            width: 90%;
            max-width: 400px;
            margin: 60px auto 0;
        }
    }
}

/**
 *  Main
 */
.brand-main{
    padding: 60px 0;

    @include media-queries(phone-wide){
        padding: 5px 0 15px;
    }

    &-items{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 60px 20px;

        @include media-queries(tablet-wide){
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-queries(phone-wide){
            grid-template-columns: 1fr;
            gap: 5px;
        }
    }

    &-info{
        grid-column: 1/3;
        background: #000;
        margin-right: 10px;
        position: relative;

        @include media-queries(laptop){
            margin-right: 0;
        }

        @include media-queries(tablet-wide){
            grid-column: 1/2;
        }

        @include media-queries(phone-wide){
            margin: 15px -10px;
        }

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-link{
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 18px;
            line-height: 29px;
            color: #FFFFFF;
            padding: 8px 23px;
            background: #071D49;
            border-radius: 6px;
            position: absolute;
            left: 67px;
            bottom: 12px;
            display: block;
            cursor: pointer;

            @include media-queries(phone-wide){
                left: 50%;
                transform: translateX(-50%);
            }

            &:hover{
                color: #FFFFFF;
            }
        }
    }
}

/**
 * Catalog
 */
.brand-catalog{

    .s-title{
        text-align: center;

        @include media-queries(phone-wide){
            text-align: left;
        }
    }
}