$breakpoints: (
    "phone":        576px,
    "phone-wide":   768px,
    "tablet":       992px,
    "tablet-wide":  1200px,
    "laptop":       1440px,
    "laptop-wide":  1550px
);

$text-main: #18191F;
$text-secondary: #828282;
$text-accent: #1E85DA;

$base: #FCFEFF;
$primary: #071D49;
$primary-active: #151875;
$secondary: #FFC600;
$secondary-active: #FFCE22;

$green: #27AE60;
$blue: #2F80ED;
$orange: #F2994A;

$borderClr: #E0E0E099;
$grey1: #303030;
$red: #ED1C24;
$lightblue: #EFF6F9;