@charset "UTF-8";

// Settings
// ==================================================
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #000 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: (
  spin,
  // 3dx,
  // 3dx-r,
  // 3dy,
  // 3dy-r,
  // 3dxy,
  // 3dxy-r,
  // arrow,
  // arrow-r,
  // arrowalt,
  // arrowalt-r,
  // arrowturn,
  // arrowturn-r,
  // boring,
  // collapse,
  // collapse-r,
  // elastic,
  // elastic-r,
  // emphatic,
  // emphatic-r,
  // minus,
  // slider,
  // slider-r,
  // spin-r,
  // spring,
  // spring-r,
  // stand,
  // stand-r,
  // squeeze,
  // vortex,
  // vortex-r
) !default;

// Base Hamburger (We need this)
// ==================================================
@import "hamburgers/base";

// Hamburger types
// ==================================================

@import "hamburgers/types/spin";

// @import "hamburgers/types/3dx";
// @import "hamburgers/types/3dx-r";
// @import "hamburgers/types/3dy";
// @import "hamburgers/types/3dy-r";
// @import "hamburgers/types/3dxy";
// @import "hamburgers/types/3dxy-r";
// @import "hamburgers/types/arrow";
// @import "hamburgers/types/arrow-r";
// @import "hamburgers/types/arrowalt";
// @import "hamburgers/types/arrowalt-r";
// @import "hamburgers/types/arrowturn";
// @import "hamburgers/types/arrowturn-r";
// @import "hamburgers/types/boring";
// @import "hamburgers/types/collapse";
// @import "hamburgers/types/collapse-r";
// @import "hamburgers/types/elastic";
// @import "hamburgers/types/elastic-r";
// @import "hamburgers/types/emphatic";
// @import "hamburgers/types/emphatic-r";
// @import "hamburgers/types/minus";
// @import "hamburgers/types/slider";
// @import "hamburgers/types/slider-r";
// @import "hamburgers/types/spin-r";
// @import "hamburgers/types/spring";
// @import "hamburgers/types/spring-r";
// @import "hamburgers/types/stand";
// @import "hamburgers/types/stand-r";
// @import "hamburgers/types/squeeze";
// @import "hamburgers/types/vortex";
// @import "hamburgers/types/vortex-r";
