<section class="additional-information">
    <div class="container">
        <h2 class="typ-title">
            Додаткова інформація
        </h2>
        <ul class="additional-information-list">
            <li>
                <a href="#">
                    <span>
                        Доставка 
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Тестуванння обладнання   
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Парнерам 
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Повернення/обмін товару  
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Сервісний центр 
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Акції в Technologic 
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Оплата  
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Гарантійне обслуговування 
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Гарантійне обслуговування  
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Контакти  
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Контакти 
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        Контакти  
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>