<header class="blog-header">
    <div class="container">
        <button class="blog-header-burger">
            <svg>
                <use xlink:href="img/svgsprite/svgsprite.svg#burger"></use>
            </svg>
        </button>
        <a href="#" class="blog-header-logo">
            <img src="img/logo/logo-blog-dark.svg" alt="logo">
        </a>
        <ul class="blog-header-list">
            <li class="active">
                <a href="#">
                    Категорії
                </a>
            </li>
            <li>
                <a href="#">
                    Новини
                </a>
            </li>
            <li>
                <a href="#">
                    Відео
                </a>
            </li>
            <li>
                <a href="#">
                    Статті
                </a>
            </li>
        </ul>
        <form action="#" class="blog-header-search">
            <svg>
                <use xlink:href="img/svgsprite/svgsprite.svg#search"></use>
            </svg>
            <input type="text" placeholder="Я шукаю">
        </form>
        <div class="header-language">
            <span class="active">
                УКР
            </span>
            <input type="checkbox" id="header-language--toggle">
            <label for="header-language--toggle"></label>
            <span>
                РУС
            </span>
        </div>
    </div>
</header>

<nav class="blog-mob-nav">
    <div class="blog-mob-nav-inner">
        <div class="blog-mob-nav-top">
            <div class="header-language">
                <span class="active">
                    УКР
                </span>
                <input type="checkbox" id="blog-mob-nav-language-toggle">
                <label for="blog-mob-nav-language-toggle"></label>
                <span>
                    РУС
                </span>
            </div>
            <button class="blog-mob-nav-close">
                <svg>
                    <use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
                </svg>
            </button>
        </div>
        <div class="blog-mob-nav-block">
            <div class="blog-mob-nav-trigger">
                <span>
                    Розділи
                </span>
                <svg>
                    <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                </svg>
            </div>
            <div class="blog-mob-nav-dropdown">
                <ul class="blog-mob-nav-sections">
                    <li>
                        <a href="#">
                            Новини
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Відео
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Статті
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="blog-mob-nav-block">
            <div class="blog-mob-nav-trigger">
                <span>
                    Категорії
                </span>
                <svg>
                    <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                </svg>
            </div>
            <div class="blog-mob-nav-dropdown">
                <ul class="blog-mob-nav-categories">
                    <li class="active">
                        <a href="#">
                            Сканери штрих кодів
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Термінал обробки данних
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Принтери етикеток
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Принтери чеків
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            POS обладнання
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Ваги
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Банківське обладнання
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Принтери пластикових карт
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Маркувальне обладнання
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Витратні матеріали
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Комплеткующі
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Програмне забезпечення
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Мережеве обладнання
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="blog-mob-nav-subscribe">
            Підписатися
        </button>
    </div>
</nav>