<footer class="blog-footer">
    <div class="container">
        <div class="blog-footer-main">
            <a href="#" class="blog-footer-logo">
                <img src="img/logo/logo-blog-white.svg" alt="logo">
            </a>
            <div class="blog-footer-nav">
                <div class="blog-footer-nav--title">
                    Категорії
                </div>
                <ul class="blog-footer-nav--list">
                    <li>
                        <a href="#">
                            Новини
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Відео
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Статті
                        </a>
                    </li>
                </ul>
            </div>
            <div class="blog-footer-nav">
                <div class="blog-footer-nav--title">
                    Technologic
                </div>
                <ul class="blog-footer-nav--list">
                    <li>
                        <a href="#">
                            Магазин
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="subscription-banner-social">
                <li>
                    <a href="#" class="-instagram">
                        <svg>
                            <use xlink:href="img/svgsprite/svgsprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="-facebook">
                        <svg>
                            <use xlink:href="img/svgsprite/svgsprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="-linkedin">
                        <svg>
                            <use xlink:href="img/svgsprite/svgsprite.svg#linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="-youtube">
                        <svg>
                            <use xlink:href="img/svgsprite/svgsprite.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="blog-footer-bottom">
            <p>
                &copy; 2010-2021 technologic. Всі права захищені
            </p>
            <a href="#">
                by Gvspace
            </a>
        </div>
    </div>
</footer>