<footer class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="footer-contacts">
                <a href="#" class="footer-logo">
                    <img src="img/logo/logo-white.svg" alt="logo">
                </a>
                <div class="footer-contacts-block">
                    <p>
                        Оформити замовлення
                    </p>
                    <a href="#">
                        <div class="footer-contacts-block--ico">
                            <svg>
                                <use xlink:href="img/svgsprite/svgsprite.svg#tel"></use>
                            </svg>
                        </div>
                        <span>
                            +38 044  503-34-59
                        </span>
                    </a>
                    <p>
                        Дзвонiть нам з 9:00 до 18:00 <br>
                        сб, нд - вихідний
                    </p>
                </div>
                <div class="footer-contacts-block">
                    <p>
                        Служба підтримки
                    </p>
                    <a href="#">
                        <div class="footer-contacts-block--ico">
                            <svg>
                                <use xlink:href="img/svgsprite/svgsprite.svg#tel"></use>
                            </svg>
                        </div>
                        <span>
                            +38 044  503-34-60
                        </span>
                    </a>
                    <p>
                        Дзвонiть нам з 9:00 до 18:00 <br>
                        сб, нд - вихідний
                    </p>
                </div>
            </div>
            <div class="footer-nav">
                <div class="footer-nav--title">
                    <span>
                        Technologic
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                    </svg>
                </div>
                <ul class="footer-nav--list">
                    <li>
                        <a href="#">
                            Вакансії
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Про компанію
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакти
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Блог
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Відеоогляд
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Оптовим клієнтам
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Для зМІ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-nav">
                <div class="footer-nav--title">
                    <span>
                        Категорії
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                    </svg>
                </div>
                <ul class="footer-nav--list">
                    <li>
                        <a href="#">
                            Cканери-штрих-коду
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Термінали збору даних
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Принтери етикеток
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            POS обладнання
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Принтери пластикових карт
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Ваги
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Банківське обладнання
                        </a>
                    </li>
                    <li>
                        <a href="#">

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Маркувальне обладнання
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Витратні матеріали
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Комплектуючі
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Мережеве обладнання
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Програмне забезпечення
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-nav">
                <div class="footer-nav--title">
                    <span>
                        Клієнтам
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                    </svg>
                </div>
                <ul class="footer-nav--list">
                    <li>
                        <a href="#">
                            Умови доставки
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Обмін та повернення
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Договор оферти на сервісне  обслуговування
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Умови користування
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Політика конфеденційності
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Публічна оферта
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-nav">
                <div class="footer-nav--title">
                    <span>
                        Для партнерів
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                    </svg>
                </div>
                <ul class="footer-nav--list">
                    <li>
                        <a href="#">
                            співпраця з нами
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            розсилка для партнерів
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-info">
            <div>
                <div class="footer-info--title">
                    Ми використовуємо такі платіжні системи: 
                </div>
                <ul class="footer-payment-systems">
                    <li>
                        <img src="img/payment-systems/visa.svg" alt="logo">
                    </li>
                    <li>
                        <img src="img/payment-systems/master-card.svg" alt="logo">
                    </li>
                    <li>
                        <img src="img/payment-systems/privat-bank.svg" alt="logo">
                    </li>
                    <li>
                        <img src="img/payment-systems/paypal.svg" alt="logo">
                    </li>
                </ul>
            </div>
            <div class="footer-distributors">
                <div class="footer-info--title">
                    Офіційні дистриб’ютори в Україні
                </div>
                <div class="footer-distributors--companies">
                    <img src="img/distributors/distributor-1.png" alt="logo">
                    <img src="img/distributors/distributor-2.png" alt="logo">
                    <img src="img/distributors/distributor-3.png" alt="logo">
                    <img src="img/distributors/distributor-4.png" alt="logo">
                    <img src="img/distributors/distributor-5.png" alt="logo">
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>
                &copy; 2010-2021 technologic. Всі права захищені
            </p>
            <a href="#">
                by Gvspace
            </a>
        </div>
    </div>
</footer>