<section class="have-question">
    <div class="container">
        <div class="have-question-main">
            <h2 class="typ-title">
                Є питання?
            </h2>
            <p class="have-question-info">
                Якщо у вас є питання – напишіть нам. Ми зв'яжемося з вами найближчим часом.
            </p>
            <form action="#" class="have-question-form">
                <input type="text" placeholder="Імя">
                <input type="text" placeholder=" E-mail">
                <textarea placeholder="Ваше повідомлення"></textarea>
                <button>
                    Надіслати
                </button>
            </form>
        </div>
        <img src="img/have-question/illustration.svg" alt="img">
    </div>
</section>