<header class="header">
    <div class="container">
        <button class="header-burger">
            <svg>
                <use xlink:href="img/svgsprite/svgsprite.svg#burger"></use>
            </svg>
        </button>
        <a href="#" class="header-logo">
            <img class="-dark" src="img/logo/logo-dark.svg" alt="ico">
            <img class="-white" src="img/logo/logo-light.svg" alt="ico">
        </a>
        <ul class="header-list">
            <li class="-red">
                <a href="#">
                    Акції %
                </a>
            </li>
            <li>
                <a href="#">
                    Про нас
                </a>
            </li>
            <li>
                <div class="dropdown-trigger">
                    <span>
                        Клієнтам
                    </span>
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                    </svg>
                </div>
                <ul class="header-list--sublist">
                    <li>
                        <a href="#">
                            Про компанію
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Умови доставки
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Обмін та повернення
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакти
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Блог
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    Контакти
                </a>
            </li>
        </ul>
        <div class="header-info">
            <div class="header-phone">
                <div class="header-phone--trigger dropdown-trigger">
                    <svg class="-tel">
                        <use xlink:href="img/svgsprite/svgsprite.svg#tel"></use>
                    </svg>
                    <span>
                        (044) 503-34-59
                    </span>
                    <svg class="-chevron">
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                    </svg>
                </div>
                <div class="header-phone--dropdown">
                    <p>
                        9:00 до 18:00 <br>
                        (Пн - ПТ)
                    </p>
                    <span>
                        Безкоштовно по Україні
                    </span>
                </div>
            </div>
            <div class="header-language">
                <span class="active">
                    УКР
                </span>
                <input type="checkbox" id="header-language--toggle">
                <label for="header-language--toggle"></label>
                <span>
                    РУС
                </span>
            </div>
        </div>
        <button class="header-cart">
            <span class="header-cart--notification">
                1
            </span>
            <svg>
                <use xlink:href="img/svgsprite/svgsprite.svg#mob-cart"></use>
            </svg>
        </button>
    </div>
</header>

<div class="mob-nav">
    <div class="mob-nav-close">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="15" height="15" fill="#FCFEFF"/>
            <path d="M1 2L13 14M1 14L13 2" stroke="#071D49"/>
        </svg>
    </div>
    <div class="mob-nav-inner">
        <div class="mob-nav-top">
            <a href="#" class="mob-nav-logo">
                <img src="img/logo/logo-light.svg" alt="logo">
            </a>
            <div class="header-language">
                <span class="active">
                    УКР
                </span>
                <input type="checkbox" id="mob-nav-language--toggle">
                <label for="mob-nav-language--toggle"></label>
                <span>
                    РУС
                </span>
            </div>
            <div class="mob-nav-account">
                <div class="mob-nav-account--ico">
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#account"></use>
                    </svg>
                </div>
                <p>
                    Вітаємо, Анна!
                </p>
            </div>
        </div>
        <ul class="mob-nav-list">
            <li>
                <a href="#">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#home"></use>
                    </svg>
                    <span>
                        Головна
                    </span>
                </a>
            </li>
            <li class="mob-nav-catalog-trigger">
                <svg class="mob-nav-list--ico">
                    <use xlink:href="img/svgsprite/svgsprite.svg#grid"></use>
                </svg>
                <span>
                    Каталог товарів
                </span>
            </li>
            <li>
                <a href="#">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#service"></use>
                    </svg>
                    <span>
                        Послуги та сервіси
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#percent"></use>
                    </svg>
                    <span>
                        Акції
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#mob-nav-cart"></use>
                    </svg>
                    <span>
                        Кошик
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#tel"></use>
                    </svg>
                    <span>
                        +38 044  503-34-59
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#tel-circle"></use>
                    </svg>
                    <span>
                        Замовити дзвінок
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#compare"></use>
                    </svg>
                    <span>
                        Порівняти ціни
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#favorites"></use>
                    </svg>
                    <span>
                        Обране
                    </span>
                </a>
            </li>
            <li>
                <div class="mob-nav-list-submenu-trgger">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#information"></use>
                    </svg>
                    <span>
                        Допомога покупцю
                    </span>
                    <svg class="-chevron">
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                    </svg>
                </div>
                <ul class="mob-nav-list-submenu">
                    <li>
                        <a href="#">
                            Submenu Item
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Submenu Item
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Submenu Item
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="mob-nav-list-submenu-trgger">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#todo"></use>
                    </svg>
                    <span>
                        Допомога покупцю
                    </span>
                    <svg class="-chevron">
                        <use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
                    </svg>
                </div>
                <ul class="mob-nav-list-submenu">
                    <li>
                        <a href="#">
                            Submenu Item
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Submenu Item
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Submenu Item
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span>
                        Контакти
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="mob-nav-list--ico">
                        <use xlink:href="img/svgsprite/svgsprite.svg#logout"></use>
                    </svg>
                    <span>
                        Вийти
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="mob-nav-catalog">
        <div class="mob-nav-catalog--top">
            <div class="mob-nav-catalog--back">
                <svg width="45" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.0566 22.5039L12.5468 22.5039L12.5468 20.5039L35.0566 20.5039L35.0566 22.5039Z" fill="#828282"/>
                    <path d="M17.2702 15.4673L18.6855 16.7215L13.329 21.4673L18.6855 26.2131L17.2702 27.4673L10.5002 21.4673L17.2702 15.4673Z" fill="#828282"/>
                </svg>   
            </div>
            <div class="mob-nav-catalog--title">
                Каталог
            </div>
        </div>
        <div class="mob-nav-catalog--items">
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-1.svg" alt="ico">
                <p>
                    Сканери штрих кодів
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-2.svg" alt="ico">
                <p>
                    Термінали обробки данних
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-3.svg" alt="ico">
                <p>
                    Принтери етикеток
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-13.svg" alt="ico">
                <p>
                    Принтери чеків
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-4.svg" alt="ico">
                <p>
                    POS обладнання
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-5.svg" alt="ico">
                <p>
                    Ваги
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-6.svg" alt="ico">
                <p>
                    Банківське обладнання
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-7.svg" alt="ico">
                <p>
                    Принтер пластикових карт
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-8.svg" alt="ico">
                <p>
                    Маркувальне обладнання
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-9.svg" alt="ico">
                <p>
                    Витратні матеріали
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-10.svg" alt="ico">
                <p>
                    Комплектующі
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-11.svg" alt="ico">
                <p>
                    Програмне забезпечення
                </p>
            </a>
            <a href="#" class="mob-nav-catalog--card">
                <img src="img/catalog-icons/icon-12.svg" alt="ico">
                <p>
                    Мережеве обладняння
                </p>
            </a>
        </div>
    </div>
</div>