<section class="map">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <div id="map"></div>
    <div class="container">
        <div class="map-info">
            <ul class="map-info-list">
                <li>
                    <div class="map-info-ico">
                        <img src="img/map/ico-1.svg" alt="ico">
                    </div>
                    <div>
                        <div class="map-info-title">
                            Наша адреса
                        </div>
                        <p class="map-info-content">
                            04080, м. Київ, вул. Терьохіна 8, офис 26
                        </p>
                    </div>
                </li>
                <li>
                    <div class="map-info-ico">
                        <img src="img/map/ico-2.svg" alt="ico">
                    </div>
                    <div>
                        <div class="map-info-title">
                            Наш графік роботи
                        </div>
                        <p class="map-info-content">
                            З 9:00 ДО 18:00 <br>
                            сб, нд - ВИХІДНИЙ
                        </p>
                    </div>
                </li>
                <li>
                    <div class="map-info-ico">
                        <img src="img/map/ico-3.svg" alt="ico">
                    </div>
                    <div>
                        <div class="map-info-title">
                            Найближчі станції метро
                        </div>
                        <p class="map-info-content">
                            Почайна <br>
                            Дорогожичі <br>
                            Лук’янівська
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>