<div class="popup popup-auth" id="popup-login">
	<div class="popup-inner" data-simplebar data-simplebar-auto-hide="false">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<div class="popup-auth-title">
			Вхід 
		</div>
		<form action="#" class="popup-auth-form">
			<div class="popup-auth-form--block">
				<label>
					Електронна пошта або телефон
				</label>
				<input type="text">
			</div>
			<div class="popup-auth-form--block">
				<label>
					Пароль
				</label>
				<input type="password">
				<div class="show-password">
					<svg>
						<use xlink:href="img/svgsprite/svgsprite.svg#eye"></use>
					</svg>
				</div>
			</div>
			<a href="#" class="popup-auth-form--forgot-password">
				Забули пароль?
			</a>
			<div class="popup-auth-form--checkbox">
				<input type="checkbox" id="remember-me">
				<label for="remember-me">
					Запамятати мене
				</label>
			</div>
			<button>
				Вхід
			</button>
			<span class="popup-auth-or">або</span>
		</form>
		<div class="popup-auth-text">
			Увійти через акаунт:
		</div>
		<div class="popup-auth-bottom">
			<button class="popup-auth-facebook">
				<svg>
					<use xlink:href="img/svgsprite/svgsprite.svg#facebook-form"></use>
				</svg>
				<span>
				Facebook
			</span>
			</button>
			<button class="popup-auth-google">
				<img src="img/icons/google.svg" alt="logo">
				<span>
				Google
			</span>
			</button>
		</div>
		<div class="popup-auth-redirect">
			<p>
				У Вас ще не має аккаунту?
			</p>
			<a href="#">
				Зареєструватися
			</a>
		</div>
	</div>
</div>

<div class="popup popup-auth" id="popup-singup">
	<div class="popup-inner" data-simplebar data-simplebar-auto-hide="false">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<div class="popup-auth-title">
			Реєстрація  
		</div>
		<form action="#" class="popup-auth-form">
			<div class="popup-auth-form--block">
				<label>
					Ім`я*
				</label>
				<input type="text">
			</div>
			<div class="popup-auth-form--block">
				<label>
					Телефон*
				</label>
				<input type="text" value="+38 (0)">
			</div>
			<div class="popup-auth-form--block">
				<label>
					Електронна пошта
				</label>
				<input type="text">
			</div>
			<div class="popup-auth-form--block">
				<label>
					Пароль
				</label>
				<input type="password">
				<div class="show-password">
					<svg>
						<use xlink:href="img/svgsprite/svgsprite.svg#eye"></use>
					</svg>
				</div>
			</div>
			<div class="popup-auth-form--password-requirements">
				<p>
					Ваш пароль повинен містити:
				</p>
				<ul>
					<li class="-done">
						Принаймні 8 символів
					</li>
					<li>
						Малі літери (a-z)
					</li>
					<li>
						Цифри (0-9)
					</li>
				</ul>
			</div>
			<div class="popup-auth-form--checkbox">
				<input type="checkbox" id="remember-me-1">
				<label for="remember-me-1">
					Запамятати мене
				</label>
			</div>
			<button>
				Реєстрація 
			</button>
			<span class="popup-auth-or">або</span>
		</form>
		<div class="popup-auth-text">
			Увійти через акаунт:
		</div>
		<div class="popup-auth-bottom">
			<button class="popup-auth-facebook">
				<svg>
					<use xlink:href="img/svgsprite/svgsprite.svg#facebook-form"></use>
				</svg>
				<span>
				Facebook
			</span>
			</button>
			<button class="popup-auth-google">
				<img src="img/icons/google.svg" alt="logo">
				<span>
				Google
			</span>
			</button>
		</div>
		<div class="popup-auth-redirect">
			<p>
				Вже зареєстровані?
			</p>
			<a href="#">
				Увійти
			</a>
		</div>
	</div>
</div>

<div class="popup popup-auth" id="popup-restore">
	<div class="popup-inner" data-simplebar data-simplebar-auto-hide="false">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<div class="popup-auth-title">
			Вхід
		</div>
		<form action="#" class="popup-auth-form">
			<div class="popup-auth-form--block">
				<label>
					Електронна пошта або телефон
				</label>
				<input type="text">
			</div>
			<button>
				Відновити пароль
			</button>
			<a href="#" class="popup-auth-form--remembered-password">
				Я згадав свій пароль
			</a>
			<span class="popup-auth-or">або</span>
		</form>
		<div class="popup-auth-text">
			Увійти через акаунт:
		</div>
		<div class="popup-auth-bottom">
			<button class="popup-auth-facebook">
				<svg>
					<use xlink:href="img/svgsprite/svgsprite.svg#facebook-form"></use>
				</svg>
				<span>
				Facebook
			</span>
			</button>
			<button class="popup-auth-google">
				<img src="img/icons/google.svg" alt="logo">
				<span>
				Google
			</span>
			</button>
		</div>
		<div class="popup-auth-redirect">
			<p>
				У Вас ще не має аккаунту?
			</p>
			<a href="#">
				Зареєструватися
			</a>
		</div>
	</div>
</div>

<div class="popup popup-auth" id="popup-restore-2">
	<div class="popup-inner" data-simplebar data-simplebar-auto-hide="false">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<div class="popup-auth-title">
			Вхід
		</div>
		<form action="#" class="popup-auth-form">
			<div class="popup-auth-form--block">
				<label>
					Електронна пошта або телефон
				</label>
				<input type="text">
			</div>
			<div class="error-message error-message_type_tooltip ng-star-inserted">Мы отправили вам на номер телефона 38050*****36 или в Viber временный пароль </div>
			<div class="popup-auth-form--block">
				<label>
					Пароль
				</label>
				<input type="password">
				<div class="show-password">
					<svg>
						<use xlink:href="img/svgsprite/svgsprite.svg#eye"></use>
					</svg>
				</div>
			</div>
			<div class="popup-auth-form--checkbox">
				<input type="checkbox" id="remember-me-2">
				<label for="remember-me-2">
					Запамятати мене
				</label>
			</div>
			<button>
				Відновити пароль
			</button>
			<span class="popup-auth-or">або</span>
		</form>
		<div class="popup-auth-text">
			Увійти через акаунт:
		</div>
		<div class="popup-auth-bottom">
			<button class="popup-auth-facebook">
				<svg>
					<use xlink:href="img/svgsprite/svgsprite.svg#facebook-form"></use>
				</svg>
				<span>
				Facebook
			</span>
			</button>
			<button class="popup-auth-google">
				<img src="img/icons/google.svg" alt="logo">
				<span>
				Google
			</span>
			</button>
		</div>
		<div class="popup-auth-redirect">
			<p>
				У Вас ще не має аккаунту?
			</p>
			<a href="#">
				Зареєструватися
			</a>
		</div>
	</div>
</div>

<div class="popup popup-info -favorites" id="popup-info-favorites">
	<div class="popup-inner">
		<img src="img/popup/popup-info/favorites.svg" alt="ico">
		<div class="popup-info-title">
			Список бажань порожній
		</div>
		<p>
			Додавайте товари, які сподобались, до списку бажань
		</p>
	</div>
</div>

<div class="popup popup-info -compare" id="popup-info-compare">
	<div class="popup-inner">
		<img src="img/popup/popup-info/compare.svg" alt="ico">
		<div class="popup-info-title">
			Список порівняння порожній
		</div>
		<p>
			Додавайте товари, які хочете порівняти
		</p>
	</div>
</div>

<div class="popup popup-info -cart" id="popup-info-cart">
	<div class="popup-inner">
		<img src="img/popup/popup-info/cart.svg" alt="ico">
		<div class="popup-info-title">
			Ваш кошик порожній
		</div>
		<p>
			Додавайте товари, що сподобались в кошик
		</p>
	</div>
</div>

<div class="popup popup-info -thanks" id="popup-thanks-review">
	<div class="popup-inner">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<img src="img/popup/popup-info/thanks.svg" alt="ico">
		<div class="popup-info-title">
			Дякуємо!
		</div>
		<p>
			Ваший відгук буде опубліковано після проходження можерації
		</p>
	</div>
</div>

<div class="popup popup-info -thanks" id="popup-thanks-question">
	<div class="popup-inner">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<img src="img/popup/popup-info/thanks.svg" alt="ico">
		<div class="popup-info-title">
			Дякуємо!
		</div>
		<p>
			Ваше запитання буде опубліковано після проходження можерації
		</p>
	</div>
</div>

<div class="popup popup-subscribe -availability-notices" id="popup-info-availability-notice">
	<div class="popup-inner">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<div class="popup-info-title">
			Повідомити про появу
		</div>
		<p>
			Дізнайтеся першим про появу в наявності цього товару. Залиште свою електронну пошту і отримаєте повідомлення, як тільки товар буде доступним до замовлення
		</p>
		<form action="#">
			<label>
				Електронна пошта
			</label>
			<input type="text">
			<button>
				Підписатися
			</button>
		</form>
	</div>
</div>

<div class="popup popup-subscribe -fast-order" id="popup-subscribe-fast-order">
	<div class="popup-inner">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<div class="popup-info-title">
			Швидке замовлення
		</div>
		<p>
			Введіть номер телефону.<br>Ми передзвонимо вам для оформлення замовлення
		</p>
		<form action="#">
			<label>
				Телефон*
			</label>
			<input type="text" value="+38 (0)">
			<button>
				Зателефонуйте
			</button>
		</form>
	</div>
</div>

<div class="popup popup-base" id="popup-leave-feedback">
	<div class="popup-inner" data-simplebar data-simplebar-auto-hide="false">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<h2 class="popup-title">Залишити відгук</h2>
		<div class="popup-leave-feedback-form--rate">
			<div class="popup-leave-feedback-form--rate-title">
				Оцініть цей товар
			</div>
			<div class="popup-leave-feedback-form--rate-stars rate-js">
				<svg class="rate-js-star">
					<use xlink:href="img/svgsprite/svgsprite.svg#star"></use>
				</svg>
				<svg class="rate-js-star">
					<use xlink:href="img/svgsprite/svgsprite.svg#star"></use>
				</svg>
				<svg class="rate-js-star">
					<use xlink:href="img/svgsprite/svgsprite.svg#star"></use>
				</svg>
				<svg class="rate-js-star">
					<use xlink:href="img/svgsprite/svgsprite.svg#star"></use>
				</svg>
				<svg class="rate-js-star">
					<use xlink:href="img/svgsprite/svgsprite.svg#star"></use>
				</svg>
			</div>
		</div>
		<form action="#" class="form-base">
			<div class="form-group">
				<div class="form-input">
					<label>Переваги</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Недоліки</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Ваш відгук</label>
					<textarea></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Ваше імя та призвіще</label>
					<input type="text">
				</div>
			</div>

			<div class="form-base-attachments">
				<div class="form-group">
					<div class="flex-column">
						<span class="form-base-attachments-add-file">Добавить фото до відгуку</span>
						<span class="form-base-attachments-hint">Перетягніть файли сюди або натисніть кнопку. Додайте до 10 зображень у форматах .jpg, .gif, .png, розмір файлу до 5 МБ</span>
					</div>
					<button class="btn btn-outline">Вибрати файл</button>
				</div>
				<div class="form-base-attachments-wrapper">
					<div class="form-base-attachments-card">
						<div class="preview">
							<img src="img/nav-catalog-products/product-1.png" alt="img">
						</div>
						<div class="card-icons">
							<button>
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#trash"></use>
								</svg>
							</button>
							<button>
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#re"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="form-base-attachments-card">
						<div class="preview">
							<img src="img/nav-catalog-products/product-1.png" alt="img">
						</div>
						<div class="card-icons">
							<button>
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#trash"></use>
								</svg>
							</button>
							<button>
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#re"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="form-base-attachments-card">
						<div class="preview">
							<img src="img/nav-catalog-products/product-1.png" alt="img">
						</div>
						<div class="card-icons">
							<button>
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#trash"></use>
								</svg>
							</button>
							<button>
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#re"></use>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<div class="form-group flex-end">
					<div class="form-input">
						<label>Посилання на відео на YouTube </label>
						<input type="text">
					</div>
					<button class="btn btn-outline">Добавить видео</button>
				</div>
			</div>

			<div class="form-group">
				<div class="form-input">
					<label>Email * </label>
					<input type="email">
				</div>
			</div>
			<div class="form-base-checkbox">
				<input type="checkbox" id="ch">
				<label for="ch">
					Повідомляти про відповіді по email
				</label>
			</div>
			<div class="form-group">
				<button class="btn btn-main">Опублікувати відгук</button>
				<button class="btn btn-grey">Відмінити</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup-base" id="popup-question">
	<div class="popup-inner" data-simplebar>
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<h2 class="popup-title">Ваше питання</h2>
		<form class="form-base" action="#">
			<div class="form-input">
				<label>Задайте питання</label>
				<textarea></textarea>
			</div>
			<div class="form-base-attachments">
				<div class="form-group">
					<div class="flex-column">
						<span class="form-base-attachments-add-file">Добавить фото до відгуку</span>
						<span class="form-base-attachments-hint">Перетягніть файли сюди або натисніть кнопку. Додайте до 10 зображень у форматах .jpg, .gif, .png, розмір файлу до 5 МБ</span>
					</div>
					<button class="btn btn-outline">Вибрати файл</button>
				</div>
				<div class="form-group flex-end">
					<div class="form-input">
						<label>Посилання на відео на YouTube </label>
						<input type="text">
					</div>
					<button class="btn btn-outline">Добавить видео</button>
				</div>
			</div>

			<div class="form-group">
				<div class="form-input">
					<label>Ваше імя та призвіще</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Email *</label>
					<input type="text">
				</div>
			</div>

			<div class="popup-auth-form--checkbox">
				<input type="checkbox" id="rp">
				<label for="rp">
					Повідомляти про відповіді  ел. поштою
				</label>
			</div>
			<div class="form-group">
				<button class="btn btn-main">Опублікувати питання</button>
				<button class="btn btn-grey">Відмінити</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup-order-confirmed" id="popup-order-confirmed">
	<div class="popup-inner">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<img src="img/popup/popup-info/shipping-delivery.svg" alt="ico">
		<div class="popup-order-confirmed--title">
			Вітаємо!<br>
			Ваше замовлення прийнято
		</div>
		<p class="popup-order-confirmed--info">
			Ви отримаєте електронного листа з інформацією для відстеження, як тільки ваші товари будуть надіслані.
		</p>
		<button class="popup-close-trigger">
			Продовжити покупки
		</button>
	</div>
</div>

<div class="popup popup-cart" id="popup-cart">
	<div class="popup-inner" data-simplebar data-simplebar-auto-hide="false">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<div class="popup-cart-title">
			Кошик
		</div>
		<div>
			<div class="popup-cart-item">
				<div class="popup-cart-product">
					<button class="popup-cart-product--del">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
						</svg>
					</button>
					<div class="popup-cart-product--photo">
						<img src="img/product/photo-1.jpg" alt="img">
					</div>
					<a href="#" class="popup-cart-product--name">
						Newland MT65 Beluga III 2D
					</a>
					<div class="product-main-counter">
						<button class="-minus">
							<svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
								<path d="M7 14V13H18V14H7Z"></path>
							</svg>
						</button>
						<input type="number" value="1">
						<button class="-plus">
							<svg width="26" height="27" viewBox="0 0 26 27" xmlns="http://www.w3.org/2000/svg">
								<path d="M18 13.3519V14.6481H13.7655V19H12.2671V14.6481H8V13.3519H12.2671V9H13.7655V13.3519H18Z">
							</path></svg>
						</button>
					</div>
					<div class="popup-cart-product--price">
						10 406,00 грн
					</div>
				</div>
				<div class="popup-cart-services">
					<div class="popup-cart-services--top">
						<div class="popup-cart-services--title">
							Додаткові послуги
						</div>
						<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M16.2071 10.2929C15.8166 9.90237 15.1834 9.90237 14.7929 10.2929L12 13.0858L9.20711 10.2929C8.81658 9.90237 8.18342 9.90237 7.79289 10.2929C7.40237 10.6834 7.40237 11.3166 7.79289 11.7071L11.2929 15.2071C11.6834 15.5976 12.3166 15.5976 12.7071 15.2071L16.2071 11.7071C16.5976 11.3166 16.5976 10.6834 16.2071 10.2929Z" fill="#777E91"></path>
						</svg> 
					</div>
					<ul class="popup-cart-services--list">
						<li>
							<input type="checkbox" id="services-1">
							<label for="services-1">
								Страхування “Technologic” 12 міс.
							</label>
							<div class="popup-cart-services--tooltip">
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#question"></use>
								</svg>
								<div class="popup-cart-services--info">
									* СТРАХУВАННЯ - безкоштовний ремонт пристрою або компенсація в негарантійних випадках в період дії Договору страхування (механічні пошкодження, попадання рідини і ін.).
									<br>
									* ДОДАТКОВА ГАРАНТІЯ - безкоштовний ремонт пристрою або компенсація при гарантійних поломки починаючи з 366 дня від дати придбання.
								</div>
							</div>
							<div class="popup-cart-services--price">
								1000 грн
							</div>
						</li>
						<li>
							<input type="checkbox" id="services-2">
							<label for="services-2">
								Technologic додаткова гарантія 1 рік
							</label>
							<div class="popup-cart-services--tooltip">
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#question"></use>
								</svg>
								<div class="popup-cart-services--info">
									* СТРАХУВАННЯ - безкоштовний ремонт пристрою або компенсація в негарантійних випадках в період дії Договору страхування (механічні пошкодження, попадання рідини і ін.).
									<br>
									* ДОДАТКОВА ГАРАНТІЯ - безкоштовний ремонт пристрою або компенсація при гарантійних поломки починаючи з 366 дня від дати придбання.
								</div>
							</div>
							<div class="popup-cart-services--price">
								1550 грн
							</div>
						</li>
						<li>
							<input type="checkbox" id="services-3">
							<label for="services-3">
								Страхування “Technologic” 12 міс.
							</label>
							<div class="popup-cart-services--tooltip">
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#question"></use>
								</svg>
								<div class="popup-cart-services--info">
									* СТРАХУВАННЯ - безкоштовний ремонт пристрою або компенсація в негарантійних випадках в період дії Договору страхування (механічні пошкодження, попадання рідини і ін.).
									<br>
									* ДОДАТКОВА ГАРАНТІЯ - безкоштовний ремонт пристрою або компенсація при гарантійних поломки починаючи з 366 дня від дати придбання.
								</div>
							</div>
							<div class="popup-cart-services--price">
								1000 грн
							</div>
						</li>
					</ul>
					<button class="popup-cart-services--more" data-label="Всі послуги">
						<span>
							Всі послуги 
						</span>
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
						</svg>
					</button>
				</div>
			</div>
			<div class="popup-cart-item">
				<div class="popup-cart-product">
					<button class="popup-cart-product--del">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
						</svg>
					</button>
					<div class="popup-cart-product--photo">
						<img src="img/product/photo-1.jpg" alt="img">
					</div>
					<a href="#" class="popup-cart-product--name">
						Newland MT65 Beluga III 2D
					</a>
					<div class="product-main-counter">
						<button class="-minus">
							<svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
								<path d="M7 14V13H18V14H7Z"></path>
							</svg>
						</button>
						<input type="number" value="1">
						<button class="-plus">
							<svg width="26" height="27" viewBox="0 0 26 27" xmlns="http://www.w3.org/2000/svg">
								<path d="M18 13.3519V14.6481H13.7655V19H12.2671V14.6481H8V13.3519H12.2671V9H13.7655V13.3519H18Z">
							</path></svg>
						</button>
					</div>
					<div class="popup-cart-product--price">
						10 406,00 грн
					</div>
				</div>
				<div class="popup-cart-services">
					<div class="popup-cart-services--top">
						<div class="popup-cart-services--title">
							Додаткові послуги
						</div>
						<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M16.2071 10.2929C15.8166 9.90237 15.1834 9.90237 14.7929 10.2929L12 13.0858L9.20711 10.2929C8.81658 9.90237 8.18342 9.90237 7.79289 10.2929C7.40237 10.6834 7.40237 11.3166 7.79289 11.7071L11.2929 15.2071C11.6834 15.5976 12.3166 15.5976 12.7071 15.2071L16.2071 11.7071C16.5976 11.3166 16.5976 10.6834 16.2071 10.2929Z" fill="#777E91"></path>
						</svg> 
					</div>
					<ul class="popup-cart-services--list">
						<li>
							<input type="checkbox" id="services-11">
							<label for="services-11">
								Страхування “Technologic” 12 міс.
							</label>
							<div class="popup-cart-services--tooltip">
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#question"></use>
								</svg>
								<div class="popup-cart-services--info">
									* СТРАХУВАННЯ - безкоштовний ремонт пристрою або компенсація в негарантійних випадках в період дії Договору страхування (механічні пошкодження, попадання рідини і ін.).
									<br>
									* ДОДАТКОВА ГАРАНТІЯ - безкоштовний ремонт пристрою або компенсація при гарантійних поломки починаючи з 366 дня від дати придбання.
								</div>
							</div>
							<div class="popup-cart-services--price">
								1000 грн
							</div>
						</li>
						<li>
							<input type="checkbox" id="services-21">
							<label for="services-21">
								Technologic додаткова гарантія 1 рік
							</label>
							<div class="popup-cart-services--tooltip">
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#question"></use>
								</svg>
								<div class="popup-cart-services--info">
									* СТРАХУВАННЯ - безкоштовний ремонт пристрою або компенсація в негарантійних випадках в період дії Договору страхування (механічні пошкодження, попадання рідини і ін.).
									<br>
									* ДОДАТКОВА ГАРАНТІЯ - безкоштовний ремонт пристрою або компенсація при гарантійних поломки починаючи з 366 дня від дати придбання.
								</div>
							</div>
							<div class="popup-cart-services--price">
								1550 грн
							</div>
						</li>
						<li>
							<input type="checkbox" id="services-31">
							<label for="services-31">
								Страхування “Technologic” 12 міс.
							</label>
							<div class="popup-cart-services--tooltip">
								<svg>
									<use xlink:href="img/svgsprite/svgsprite.svg#question"></use>
								</svg>
								<div class="popup-cart-services--info">
									* СТРАХУВАННЯ - безкоштовний ремонт пристрою або компенсація в негарантійних випадках в період дії Договору страхування (механічні пошкодження, попадання рідини і ін.).
									<br>
									* ДОДАТКОВА ГАРАНТІЯ - безкоштовний ремонт пристрою або компенсація при гарантійних поломки починаючи з 366 дня від дати придбання.
								</div>
							</div>
							<div class="popup-cart-services--price">
								1000 грн
							</div>
						</li>
					</ul>
					<button class="popup-cart-services--more" data-label="Всі послуги">
						<span>
							Всі послуги 
						</span>
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#chevron-down"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="popup-cart-actions">
			<button class="popup-cart-continue">
				<svg>
					<use xlink:href="img/svgsprite/svgsprite.svg#chevron-left"></use>
				</svg>
				<span>
					Продовжити вибір  товарів
				</span>
			</button>
			<div class="popup-cart-total">
				<div class="popup-cart-total--amount">
					10 406,00 грн
				</div>
				<button class="popup-cart-total--to-order">
					Оформити замовлення
				</button>
			</div>
		</div>
		<div class="popup-cart-set">
			<div class="popup-cart-title">
				Разом дешевше
			</div>
			<div class="product-sets-card">
				<div class="product-sets-card--main">
					<div class="product-sets-item">
						<div class="product-sets-item--photo">
							<picture>
								<source srcset="img/products/product-11.webp" type="image/webp">
								<source srcset="img/products/product-11.png" type="image/png">
								<img src="img/products/product-11.png" alt="img" loading="lazy">
							</picture>
						</div>
						<div class="product-sets-item--info">
							<a href="#" class="product-sets-item--title">
								Ручний 2D сканер штрих-коду Datalogic Gryphon I GD4500 2D
							</a>
							<div class="product-sets-item--price">
								10 406,00 грн
							</div>
						</div>
					</div>
					<svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<line x1="11.6748" x2="11.6748" y2="21" stroke="#FFCF00" stroke-width="2"></line>
						<line x1="21.6748" y1="11" x2="0.674805" y2="11" stroke="#FFCF00" stroke-width="2"></line>
					</svg>
					<div class="product-sets-item">
						<div class="product-sets-item--photo">
							<picture>
								<source srcset="img/products/product-11.webp" type="image/webp">
								<source srcset="img/products/product-11.png" type="image/png">
								<img src="img/products/product-11.png" alt="img" loading="lazy">
							</picture>
						</div>
						<div class="product-sets-item--info">
							<a href="" class="product-sets-item--title">
								Підставка для сканерів штрих-коду Supoin SK2202
							</a>
							<div class="product-sets-item--old-price">
								450 грн
							</div>
							<div class="product-sets-item--price">
								200 грн
							</div>
						</div>
					</div>
				</div>
				<div class="product-sets-card--bottom">
					<div class="product-sets-card--code">
						Код комплетка: 11116253849947-62626616-4846262
					</div>
					<div class="product-sets-card--price">
						2592,50 грн
					</div>
					<button>
						Купити комплект
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup popup-choose-city" id="popup-choose-city">
	<div class="popup-inner">
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<div class="popup-choose-city--content">
			<div class="popup-choose-city--title">
				Виберіть своє місто
			</div>
			<hr>
			<p class="popup-choose-city--hint">
				<svg>
					<use xlink:href="img/svgsprite/svgsprite.svg#delivery"></use>
				</svg>
				<span>Доставляємо замовлення по всій Україні!</span>
			</p>
			<div class="popup-choose-city--cities-wrapper">
				<button class="btn-invisible active">Київ</button>
				<button class="btn-invisible">Харків</button>
				<button class="btn-invisible">Одеса</button>
			</div>
			<div class="popup-choose-city--cities-wrapper">
				<button class="btn-invisible">Дніпро</button>
				<button class="btn-invisible">Запоріжжя</button>
				<button class="btn-invisible">Львів</button>
			</div>
			<form action="#">
				<label>
					Введіть населений пункт України
				</label>
				<input type="text" value="Київ">
				<p class="popup-choose-city--example">
					Наприклад, <span class="blue">Проців</span>
				</p>
				<div class="bottom">
					<button class="grey">На головну сторінку</button>
					<button class="submit">Застосувати</button>
				</div>
			</form>
			<hr>
			<div class="bottom">Вибір міста допоможе надати актуальну інформацію про наявність товару, його ціну та способи доставки у вашому місті! Це допоможе зберегти більше вільного часу для вас!</div>
		</div>
	</div>
</div>

<div class="popup popup-base popup-test-equipment" id="popup-test-equipment">
	<div class="popup-inner" data-simplebar>
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<h2 class="popup-title">Тестувати обладнання</h2>
		<p class="popup-anons">Заповніть поля і ми зв’яжемося з вами для оформлення обладнання на тестування.</p>
		<form class="form-base" action="#">
			<div class="form-group">
				<div class="form-input">
					<label>Прізвище</label>
					<input type="text">
				</div>
				<div class="form-input">
					<label>Ім'я *</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Телефон *</label>
					<input type="text">
				</div>
				<div class="form-input">
					<label>Email *</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Назва компанії</label>
					<input type="text">
				</div>
				<div class="form-input">
					<label>ЄДРПО</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-main">Тестувати</button>
				<button class="btn btn-grey">Відмінити</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup-base popup-service" id="popup-service">
	<div class="popup-inner" data-simplebar>
		<div class="popup-close-icon popup-close-trigger">
			<svg>
				<use xlink:href="img/svgsprite/svgsprite.svg#close"></use>
			</svg>
		</div>
		<h2 class="popup-title">Реєстрація заявки на сервіс</h2>
		<form class="form-base" action="#">
			<div class="form-group">
				<div class="form-input">
					<label>Прізвище</label>
					<input type="text">
				</div>
				<div class="form-input">
					<label>Ім'я *</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Телефон *</label>
					<input type="text">
				</div>
				<div class="form-input">
					<label>Email *</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Назва компанії</label>
					<input type="text">
				</div>
				<div class="form-input">
					<label>ЄДРПО</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Бренд та модель пристрою*</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>IMEI або серійний номер *</label>
					<input type="text">
				</div>
			</div>
			<div class="form-group">
				<div class="form-input">
					<label>Коментар *</label>
					<textarea></textarea>
				</div>
			</div>

			<div class="popup-service-footer">
				<div class="attention-1">Зверніть увагу!</div>
				<div class="btn print">
					Роздрукувати
					<svg>
						<use xlink:href="img/svgsprite/svgsprite.svg#printer"></use>
					</svg>
				</div>
				<div class="attention-2">Перед тим як записатись на ремонт. Роздрукуйте ваші дані та вкладіть аркуш з товаром.</div>
				<div class="btn download">
					Зберігти
					<svg>
						<use xlink:href="img/svgsprite/svgsprite.svg#download"></use>
					</svg>
				</div>
			</div>

			<div class="form-group">
				<button class="btn btn-main">Тестувати</button>
				<button class="btn btn-grey">Відмінити</button>
			</div>
		</form>
	</div>
</div>

<div class="popup popup-hover popup-profile" id="popup-profile">
	<div class="popup-inner">
		<ul class="list">
			<li>
				<a class="list-item" href="#">
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#account"></use>
						</svg>
					</div>
					<span>
						Особисті данні
					</span>
				</a>
			</li>
			<li>
				<a class="list-item" href="#">
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#todo"></use>
						</svg>
					</div>
					<span>
						Мої замовлення
					</span>
				</a>
			</li>
			<li>
				<a class="list-item" href="#">
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#eye"></use>
						</svg>
					</div>
					<span>
						Переглянуті товари
					</span>
				</a>
			</li>
			<li>
				<a class="list-item" href="#">
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#dollar"></use>
						</svg>
					</div>
					<span>
						Бонуси
					</span>
				</a>
			</li>
			<li>
				<a class="list-item" href="#">
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#favorites"></use>
						</svg>
					</div>
					<span>
						Список бажань
					</span>
				</a>
			</li>
			<li>
				<a class="list-item" href="#">
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#comment"></use>
						</svg>
					</div>
					<span>
						Мої відгуки
					</span>
				</a>
			</li>
			<li>
				<a class="list-item" href="#">
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#exit"></use>
						</svg>
					</div>
					<span>
						Вихід
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="popup popup-hover popup-compare-hover" id="popup-compare-hover">
	<div class="popup-inner">
		<div class="popup-hover-title">
			Список порівняння
		</div>
		<ul class="list">
			<li>
				<a class="list-item" href="#">
					<span>
						Ручні сканери штри-коду (2)
					</span>
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#trash"></use>
						</svg>
					</div>
				</a>
			</li>
			<li>
				<a class="list-item" href="#">
					<span>
						Термінали збору даних (2)
					</span>
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#trash"></use>
						</svg>
					</div>
				</a>
			</li>
			<li>
				<a class="list-item" href="#">
					<span>
						Принтери етикеток (2)
					</span>
					<div class="list-item-icon">
						<svg>
							<use xlink:href="img/svgsprite/svgsprite.svg#trash"></use>
						</svg>
					</div>
				</a>
			</li>
		</ul>
		<div class="hover-container">
			<button class="btn btn-main">
				Порівняти
			</button>
		</div>
	</div>
</div>