<section class="subscription-banner">
    <div class="container">
        <div class="subscription-banner-title">
            Підпишіться на новини та дізнавайтесь про нові акції першими!
        </div>
        <form action="#" class="subscription-banner-form">
            <input type="text" placeholder="Електронна адреса">
            <button>
                <svg>
                    <use xlink:href="img/svgsprite/svgsprite.svg#send"></use>
                </svg>
            </button>
        </form>
        <ul class="subscription-banner-social">
            <li>
                <a href="#" class="-instagram">
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="-facebook">
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="-linkedin">
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="-youtube">
                    <svg>
                        <use xlink:href="img/svgsprite/svgsprite.svg#youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>